/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2015, 10:36:42 AM
    Author     : phinath
*/
body{
    padding:0;
    margin: 0;
}
body .main-container{
    padding:0;
}


